# ============================================================
#  .env  –  copy this to .env and fill in real values
#  NEVER commit .env to git – add it to .gitignore
# ============================================================

# MQTT (EMQX)
MQTT_USERNAME=Niwarthana
MQTT_PASSWORD=your_mqtt_password_here

# TimescaleDB
TIMESCALE_USER=fleet
TIMESCALE_PASSWORD=change_me_strong_password
TIMESCALE_DB=fleetdb

# Redis
REDIS_PASSWORD=change_me_redis_password
